@use './abstract' as *;

.footer {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm);
  @include frosted-glass-bg(#ffffff21);
  // Layout Properties

  z-index: 1000;
  margin-top: 1rem;


  // Transitions & Animations
  transition: all 0.3s ease;

  // Nested Components
  .container {
    flex: 1;
    flex-direction: column;
  }

  .content {
    // Layout
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }


  //Columns for footer
  //Brand Column
  .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      // Visual
      opacity: 0.9;
    }
  }

  //Links Column
  .links {
    // Layout
    display: flex;
    flex-direction: column;
    gap: 1rem;

    ul {
      // Layout
      display: flex;
      // Box Model
      margin: 0;
      padding: 0;
      // Typography
      list-style: none;
      gap: var(--gap-sm);
    }
  }

  //Social Column
  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .social-links {
      // Layout
      display: flex;
      gap: var(--gap-sm);

      a {

        // Pseudo-elements & States
        &:hover {
          // Transforms & Transitions
          transform: translateY(.5rem);
          transition: all 0.2s ease;
        }
      }
    }
  }

  .bottom {
    // Layout
    text-align: center;
    // Box Model
    border-top: 1px solid var(--accent-clr);
    // Visual
    opacity: 0.8;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;

    .brand {
      p {
        margin: 0;
      }
    }

    .content {
      gap: var(--gap);
    }

    .container {

      width: 100%;
      padding: 1rem;
      box-sizing: border-box;

      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }

    }


    .links {
      gap: 0;
    }

    a {
      padding: 0;
    }

  }
}