@use './abstract' as *;

.footer {
  @include frosted-glass-bg(#ffffff21);
  // Layout Properties
  z-index: 1000;
  margin-top: 1rem;
  // Transitions & Animations
  transition: all 0.3s ease;

  // Nested Components
  .container {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    //Columns for footer
    //Brand Column
    .brand {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        // Visual
        opacity: 0.9;
      }
    }

    //Social Column
    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .social-links {
        // Layout
        display: flex;
        align-items: flex-end;

        a {

          // Pseudo-elements & States
          &:hover {
            // Transforms & Transitions
            transform: translateY(.5rem);
            transition: all 0.2s ease;
          }
        }
      }
    }

    .bottom {
      display: flex;
      align-items: flex-end;

      // Box Model
      border-top: 1px solid var(--accent-clr);
      // Visual
      opacity: 0.8;
    }


    @media (min-width: 601px) and (max-width: 1024px) {
      .footer {
        flex-direction: row;
        align-items: center;

        .container {
          width: 100%;
          padding: 1rem;
          box-sizing: border-box;

          .content {
            gap: var(--gap);

            .brand {
              p {
                margin: 10px;
              }

              .links {
                gap: 0;
              }
            }
          }

          h3 {
            margin-top: 0;
            margin-bottom: 0;
          }

        }


        a {
          padding: 0;
        }
      }

    }

    @media (min-width: 0px) and (max-width: 600px) {
      .footer {
        align-items: center;

        .brand {
          p {
            margin: 0;
          }
        }

        .content {
          flex-direction: column;
          gap: var(--gap);
        }

        .container {

          width: 100%;
          padding: 1rem;
          box-sizing: border-box;

          h3 {
            margin-top: 0;
            margin-bottom: 0;
          }

        }


        .links {
          gap: 0;
        }

        a {
          padding: 0;
        }
      }
    }
  }
}