@use './abstract' as *;

/* Portfolio Page Styles */
.portfolio-container {
    @include frosted-glass-bg(var(--frosted-glass-clr));
}

.portfolio-header {
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #ccc;

}

.portfolio-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-card {
    @include frosted-glass-bg(var(--frosted-glass-alt-clr));
    padding: 1.5rem;
    text-align: center;
    width: 300px;
    transition: box-shadow 0.2s, transform 0.2s;
    margin-bottom: 2rem;

    &:hover {
        box-shadow: 0 8px 24px var(--accent-clr);
        transform: translateY(-6px) scale(1.03);
    }

    img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 1rem;
        box-shadow: 0 2px 8px rgba(44, 62, 80, 0.04);
    }

    a {
        display: inline-block;
        margin-top: 1rem;
        color: #2196f3;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
            color: #00bcd4;
            text-decoration: underline;
        }
    }
}

@media (max-width: 900px) {
    .portfolio-grid {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-card {
        width: 90%;
    }
}