@use './abstract' as *;

/* Portfolio Page Styles */
.portfolio-container {
    @include frosted-glass-bg(var(--frosted-glass-clr));
    margin: 0 auto;
    padding: 2rem;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }
}

@media (max-width: 600px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .portfolio-header h1 {
        font-size: 2rem;
    }
}