@use 'abstract' as *;
// Services Page Styles
.services-container {
    @include frosted-glass-bg(var(--frosted-glass-clr));
}

.services-header {
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--accent-clr);
    padding: 1rem;
}

.services-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    @include frosted-glass-bg(var(--frosted-glass-alt-clr));
      padding: 1.5rem;
    text-align: center;
    width: 300px;
    transition: box-shadow 0.2s, transform 0.2s;
    margin-bottom: 2rem;
    overflow: hidden;

     &:hover {
        box-shadow: 0 8px 24px var(--accent-clr);
        transform: translateY(-6px) scale(1.03);
    }


    .icon {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: block;
    }

   img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 1rem;
        box-shadow: 0 2px 8px rgba(44, 62, 80, 0.04);
    }

}

@media (max-width: 600px) {

    .services-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
        margin: 1rem auto;
        padding: 0;
    }
}