@use 'abstract' as *;
// Services Page Styles
.services-container {
    @include frosted-glass-bg(var(--frosted-glass-clr));
}

.services-header {
    text-align: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--accent-clr);
}

.services-grid {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    @include frosted-glass-bg(var(--frosted-glass-alt-clr));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    overflow: hidden;
    
    margin-bottom: 2rem;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 4px 16px var(--accent-clr);
    }

    .icon {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        display: block;
    }

    img {
        width: 500px;
        max-width: 100%;
        height: 200px;        
    }

}

@media (max-width: 900px) {

    .services-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 90%;
        margin: 1rem auto;
        padding: 0;
    }
}