@use './abstract' as *;

.site-header {
    @include frosted-glass-bg(#ffffff21);
    border-radius: var(--border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    max-width: 100vw;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;

    .logo {
        display: flex;
        align-items: center;
        width: 240px;
        height: 60px;

        .logo-bar1 {
            fill: var(--accent-clr);
        }

        .logo-bar2 {
            fill: #ffffff;
        }

        .logo-bar3 {
            fill: #2196f3;
        }

        .logo-text {
            fill: #fff;

            tspan {
                fill: var(--accent-clr);
            }
        }

        img,
        svg {
            width: 100%;
            height: auto;
            display: block;
        }

        text {
            font-size: var(--font-size);
        }

        @media (min-width: 0px) and (max-width: 600px) {
            width: 100%;
            height: auto;
        }
    }

    ul {
        display: flex;
        gap: 16px;
        list-style-type: none;
    }

    // Nested Components
    .nav {
        // Layout
        display: flex;
        flex-direction: row;

        // Media Queries
        @media (min-width: 0px) and (max-width: 600px) {
            // Layout
            @include frosted-glass-bg(#435B60);
            position: fixed;
            top: 90px;
            width: 100%;
            box-sizing: border-box;
            border-radius: .5rem;

            // Transforms & Transitions
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;

            ul {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 0;

                li {
                    border-bottom: 1px solid #ccc;
                    width: 100%;

                    a {
                        font-size: var(--font-size-3);
                    }
                }

            }

            // Modifier States
            &.active {
                // Box Model
                margin-bottom: 1rem;

                // Transforms & Transitions
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            a:hover {
                color: var(--primary-text-clr);

            }
        }

        // Temporary selector - needs review
        &.a {
            border: 2px solid var(--border-clr);
        }
    }

    .menu-toggle {
        // Layout
        display: none;
        flex-direction: column;
        align-items: center;
        gap: .3rem;
        // Box Model
        width: 50px;
        height: 28px;

        // Typography
        color: var(--accent-clr);

        // Interaction
        cursor: pointer;

        span {
            // Box Model
            width: 22px;
            height: 0.3rem;

            // Background & Visual
            background: var(--accent-clr);
            border-radius: var(--border-radius);

            // Transitions
            transition: all 0.3s ease;
        }

        // Modifier States
        &.active {
            span:nth-child(1) {
                transform: rotate(45deg) translate(6px, 6px);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }

        // Media Queries
        @media (min-width: 0px) and (max-width: 600px) {
            display: flex;
        }

    }

    @media (min-width: 0px) and (max-width: 600px) {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
}