:root{
    --primary-clr: #fcfcfc;
    --primary-text-clr: #050505;
    --secondary-text-clr: #fff;

    --frosted-glass-clr: #8583835b;
    --frosted-glass-alt-clr: #00000080;

    --accent-clr: rgb(219, 143, 1);
    --accent-transparent-clr: rgba(238, 222, 6, 0.3);

    --secondary-clr: #f0f0ef;

    --error-clr: red;
}