:root {
    --font-size: 16px; // base font size
    --font-size-1: 3.5rem; // h1
    --font-size-2: 2.5rem; // h2
    --font-size-3: 1.5rem; // h3
    --font-size-4: 1.125rem; // h4
    --font-size-5: 0.9rem; // h5
    --font-size-6: 0.7rem; // h5
    --font-size-p: 1rem; // paragraph

    --gap: 1rem;
    --gap-sm: .5rem;

    --padding: 1rem;
    --padding-sm: .4rem;

    --border-radius: 2rem;
    --border-radius-sm: .5rem;

    --primary-align-items: center;

    --spacer: 1rem;
    --spacer-sm: .5rem;
}